
<p><%= @user.role %></p>

<p>
  <strong>Full Name: </strong> <%= @user.full_name %><br />
  <strong>Email :</strong> <%= @user.email %><br />
  <strong>Role:</strong> <%= @user.role %><br />
  <strong>Created Date:</strong> <%= @user.created_at %><br />
</p>


<hr />

<%# <%= link_to 'Back', {:action => 'list'} %>

