

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="page-header">
    <h2> جميع العمليات </h2>
  </div>
</div>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th> اسم الجهة المدينة </th>
      <th> عدد العمليات المسددة  </th>
      <th> عدد العمليات الغير مسددة  </th>
      <th>  كمية  العمليات غير المسددة </th>
      <th> مجموع المبلغ الغير مسدد  </th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @distributor_operations[:organization_name] %></td>
        <td><%= @distributor_operations[:distributor_operations_whit_status_paid] %></td>
        <td><%= @distributor_operations[:distributor_operations_whit_status_not_paid]%></td>
        <td><%= @distributor_operations[:quantity_operations_not_paid] %></td>
        <td><%= @distributor_operations[:total_operations_not_paid] %></td>

      </tr>
  </tbody>
</table>
</div>
<br>
