

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="page-header">
    <h2> جميع العمليات </h2>
    <h4><span ><%= link_to 'عملية جديدة', new_distributor_operation_url , class: 'btn btn-success'%></span></h4>
  </div>
</div>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th> اسم البائع </th>
      <th> اسم العملية </th>
      <th> اسم الجهة المدينة </th>
      <th> نوع العملية </th>
      <th> الكمية </th>
      <th> المجموع  </th>
      <th> تاريخ العملية  </th>
      <th> الحالة  </th>
      <th> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_operations.each do |distributor_operation| %>
      <tr>
        <td><%= distributor_operation.invoice %></td>
        <td><%= distributor_operation.name %></td>
        <td><%= distributor_operation.total %></td>
        <td><%= distributor_operation.operation_type %></td>
        <td><%= distributor_operation.quantity %></td>
        <td><%= distributor_operation.total %></td>
        <td><%= distributor_operation.opration_date %></td>
        <td><%= distributor_operation.status %></td>

        <td><%= link_to 'عرض', distributor_operation %> ……
            <%= link_to 'تعديل', edit_distributor_operation_path(distributor_operation) %>………
            <%= link_to 'حذف', distributor_operation, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<br>
