 <h2> بيانات العملية </h2>

 <table class="table">
 <%= link_to 'رجوع', distributor_operations_path %>
 <thead>
    <tr>
      <th> اسم البائع </th>
      <th> اسم العملية </th>
      <th> اسم الجهة المدينة </th>
      <th> نوع العملية </th>
      <th> الكمية </th>
      <th> عدد الوحدات </th>
      <th> السعر  </th>
      <th> المجموع  </th>
      <th> تاريخ العملية  </th>
      <th> الحالة  </th>
      <th> الوصف  </th>


      <th> Actions </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @distributor_operation.user.full_name %></td>
        <td><%= @distributor_operation.name %></td>
        <td><%= @distributor_operation.call_center.name %></td>
        <td><%= @distributor_operation.operation_type %></td>
        <td><%= @distributor_operation.quantity %></td>
        <td><%= @distributor_operation.units_number %></td>
        <td><%= @distributor_operation.cost %></td>
        <td><%= @distributor_operation.total %></td>
        <td><%= @distributor_operation.opration_date %></td>
        <td><%= @distributor_operation.status %></td>
        <td><%= @distributor_operation.description %></td>
        <td> <%= link_to 'تعديل', edit_distributor_operation_path(@distributor_operation) %> …… <%= link_to 'رجوع', distributor_operations_path %></td>
      </tr>
  </tbody>
</table>