<header class="navbar navbar-fixed-top ">
  <div class='header'>
    <div style="float: left">
      <%= image_tag("hedar.jpg", alt: "Shao logo", width: '120') %>
    </div>
        <%if logged_in? && current_user.super_admin?  %>
          <div class="nav-container">
            <ul class="nav-items">
              <li class="nav-item"><%= link_to "الرئيسية", "#" %></li>
              <li class="nav-item"><%= link_to "الموظفين", users_path %></li>
              <li class="nav-item"><%= link_to "التقارير", dasbord_index_url %></li>
              <li class="nav-item"><%= link_to "الخدمات", "#" %></li>
              <li class="nav-item"><%= link_to "خدمات أخرى", "#" %></li>
              <li class="nav-item"><%= link_to "المنشأت", call_centers_path%></li>
              <li class="nav-item"><%= link_to "تسجيل الخروج", logout_path, method: "delete" %></li>
              <!-- Dropdown menu -->
              <li class="nav-item nav-item-dropdown">
                <a class="dropdown-trigger" href="#">الاضافات</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-menu-item">
                    <%= link_to "تسجيل حساب موظف جديد", new_user_path %>
                  </li>
                  <li class="dropdown-menu-item">
                    <li class="nav-item"><%= link_to "تحديث بينات المنشأة", edit_call_center_url(current_organization.id) %></li>
                  </li>
                  <li class="dropdown-menu-item">
                    <li class="nav-item"><%= link_to "تحديث الملف الشخصي", edit_user_url(current_user.id) %></li>
                  </li>
                </ul>
            </li>
            </ul>
            </div>
          <% elsif logged_in? && current_user.admin? %>
            <div class="nav-container">
              <ul class="nav-items">
                <li class="nav-item"><%= link_to "الرئيسية", "#" %></li>
                <li class="nav-item"><%= link_to "الموظفين", users_path %></li>
                <li class="nav-item"><%= link_to "التقارير", "#" %></li>
                <li class="nav-item"><%= link_to "الخدمات", "#" %></li>
                <li class="nav-item"><%= link_to "خدمات أخرى", "#" %></li>
                <li class="nav-item"><%= link_to "تسجيل الخروج", logout_path, method: "delete" %></li>
        
                <!-- Dropdown menu -->
                <li class="nav-item nav-item-dropdown">
                  <a class="dropdown-trigger" href="#">الاضافات</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-menu-item">
                      <%= link_to "تسجيل حساب موظف جديد", new_user_path %>
                    </li>
                  </ul>
                </li>
              </ul>
              </div>
            <% elsif logged_in? && current_user.employee? %>
              <div class="nav-container">
                <ul class="nav-items">
                  <li class="nav-item"><%= link_to "الرئيسية", "#" %></li>
                  <li class="nav-item"><%= link_to "سداد وباقات", "#" %></li>
                  <li class="nav-item"><%= link_to "برمجة", "#"%></li>
                  <li class="nav-item"><%= link_to "خدمات أخرى", "#" %></li>
                   <li class="nav-item"><%= link_to "التقارير", "#" %></li>
                    <li class="nav-item"><%= link_to "الرصيد", "#" %></li>
                  <li class="nav-item"><%= link_to "تسجيل الخروج", logout_path, method: "delete" %></li>
                
                  </ul>
                </div>

            <% elsif logged_in? && current_user.distributor? %>
              <div class="nav-container">
                <ul class="nav-items">
                  <li class="nav-item"><%= link_to "الرئيسية", root_url %></li>
                  <li class="nav-item"><%= link_to "عملية جديدة ", new_distributor_operation_url %></li>
                  <li class="nav-item"><%= link_to "خدمات أخرى", "#" %></li>
                  <li class="nav-item"><%= link_to "التقارير", dasbord_index_url %></li>
                  <li class="nav-item"><%= link_to "الرصيد", "#" %></li>
                  <li class="nav-item"><%= link_to "تسجيل الخروج", logout_path, method: "delete" %></li>
                
                  </ul>
                </div>
        
        
              <% else %>
                <div class="nav-container">
                  <ul class="nav-items">
                    <li class="nav-item"><a href="#"> الرئيسية </a></li>
                    <li class="nav-item"><a href="#"> من نحن </a></li>
                    <li class="nav-item"><a href="#"> اتصل بنا </a></li>
                    <li class="nav-item"><%= link_to "تسجيل الدخول", login_path %></li>
                  </ul>
                </div>
                <% end %>
  </div>
  <br>
</header>